.suggestion-image {
    background-size: cover;
    background-position: 50% 50%;
    width: 3em;
    height: 3em;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
}

.suggestion-text {
    vertical-align: middle;
}
