@using Arbetsprov.Features.Recommendations

@model RecommendationsViewModel

<div class="row">
    <div class="col">
        <h1>Here's what will fit your taste:</h1>
        <hr />
    </div>
</div>
<div class="row">
    @if (Model?.Recommendations != null && Model.Recommendations.Any())
    {
        foreach (RecommendationViewModel recommendation in Model.Recommendations)
        {
            <div class="col mb-lg-4">
                <div class="recommendation bg-light">
                    <h4 class="recommendation__title">@recommendation.ArtistName - @recommendation.SongTitle</h4>

                    <iframe src="https://open.spotify.com/embed?uri=spotify%3Atrack%3A@(recommendation.SongId)"
                            width="250"
                            height="330"
                            frameborder="0"
                            allowtransparency="true"></iframe>
                </div>
            </div>

        }
    }
</div>
<div class="row">
    <div class="col">
        <p>Click @Html.ActionLink("HERE", "Index", "Home") to go back and set your music preferences again.</p>
    </div>
</div>